{% extends "Manager/common/base.html.twig" %}


{% block head %}
{{ parent() }}
<link href="/css/dashboard.css" rel="stylesheet">
{% endblock %}

{% block body %}


{% include('Manager/common/navbar.html.twig') %}
<div class="container-fluid">

    <div class="row">

        <div class="col-sm-10 col-md-12 main">

            <h1 class="page-header">{{ title|trans }}</h1>
               {% include('Manager/common/alert.html.twig') %}

                    {% block content %}
                    {% endblock %}
        </div>

    </div>

</div>
{% endblock %}



