{% extends "Manager/common/layout_without_sidebar.html.twig" %}



 {% block content %}
<ul>    
{% for key,package in packages %}
    <li><a href="{{ path('package.show', {packageKey: key}) }}"> {{ key }}</a></li>
    {% endfor %}
   
    </ul>
 {% endblock %}
