
    {% for key,package in packages %}
    <li><a href="{{ path('package.show', {packageKey: key}) }}"> {{ key }}</a></li>
    {% endfor %}
    <li class="divider"></li>
    <li><a href="{{ path('packages.manager')}}">{{ 'Packages manager'|trans }}</a></li>
