{% extends "Manager/common/layout.html.twig" %}


 {% block content %}
<ul>
{% for key,module in package.modules %}
    <li>
        <h4>{{ key }}</h4>
        <div>file: {{ module }}</div>

        <div><img src="{{ path('preview.dynimage', {package: package_key, module: key}) }}" class="img-thumbnail img-reponsive"></div>

        <div><a href="{{ path('module.manager', {package: package_key, module: key}) }}" class="btn btn-primary btn-sm active" role="button">Edit</a></div>
        <hr>
    </li>
{% endfor %}
</ul>
 {% endblock %}
